.App {
  text-align: center;
  margin: 0(auto);
}

.navBar {
  width: 100%;
  height: 10%;
}

.title {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding-left: 5%;
}

.titleName {
  color: black;
  text-align: right;
  line-height: 40px;
  font-size: 50px;
  cursor: default;
  -webkit-user-select: none;     
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menuItems {
  margin-left: -30px;
  margin-top: 35px;
  -webkit-user-select: none;     
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menuItems :hover {
  font-weight: bold;
}


.menuItem {
  list-style: none;
  text-align: left;
  cursor: pointer;
}